*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
a{
    color:#1c76c0;
}
:root{
    --main-color: rgb(255, 145, 0);
    --price-color: rgb(170, 98, 4);
    --second-color: #747474;
    --third-color: rgb(32, 32, 39);
    --text-color: rgb(2, 2, 49);
    --text-color2: white;
    --big-font: 4rem;   
    --h1-font: 4;
    --h2-font: 3;
    --p-font: 1.1;
}
body{
    background: linear-gradient(135deg, #7fc5ff 0%, #41f158 100%);
    min-height: 100vh;
    color: var(--text-color);
}
header{ 
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background:scroll;
    background-color: rgb(247, 247, 247);
    padding: 15px 0%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

hr{
    height: 6px;
    background: linear-gradient(135deg, #7fc5ff 0%, #41f158 100%);
    margin: 15px 0;
    border-radius: 20px;
}

.navlists{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlists a{
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlists a:hover{
    color: var(--main-color);
}
.navlists a.active{
    color: var(--main-color);
}
section{
    padding: 120px 15% 120px;
}
.home{
    position: relative;
    flex-direction: column;
    background-image: url(img/bgbungan2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

}
.home h1{

    position: relative;
    margin-top: 5px;
    font-size: var(--big-font);
    text-shadow: 
    -2px -2px 0 rgb(255, 255, 255),  
     2px -2px 0 rgb(255, 255, 255),
    -2px  2px 0 rgb(255, 255, 255),
     2px  2px 0 rgb(255, 255, 255);
    /* -2px -2px 0 var(--text-color),  
     2px -2px 0 var(--text-color),
    -2px  2px 0 var(--text-color),
     2px  2px 0 var(--text-color); */
}

.image-container{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
}

.img-box{
    width: 350px;
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* transition: all 0.5s ease; */
    position: relative;
    cursor: pointer;
}

.img-box img{   
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.img-box:hover img{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);

    pointer-events: none;
}

.s-icon{
    display: flex;
    margin-top: 25px;
    gap: 8px;
    margin-bottom: 20px;
}
.s-icon span{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.s-icon i{
    font-size: 25px;
}


/* OFFERS */
.offer span{
    color: var(--price-color);
}
.offer h2, h1{
    margin-bottom: 5px;
}
.offer-text{
    max-width: 300px;

}
#sub{
    color: var(--third-color);
}

.offer-text p{
    margin-top: 20px;
}
.offer-text h4{
    margin-top: 5px;
}
.offer-container{
    margin-bottom: 50px;
}

.image-container2{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    /* justify-content: center; */
}
.image-container2 h3{
    color: var(--text-color);
}
.image-container2 h4{
    color: var(--second-color);
}
.img-box2{
    width: 350px;
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* transition: all 0.5s ease; */
    position: relative;
    cursor: pointer;
}

.img-box2 img{   
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.img-box2:hover img{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);

    pointer-events: none;
}

.box-container{
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 30xp rgba(0,0,0,0.15);
    padding: 70px;
    margin: -5%;
    margin-bottom: -10%;
}

/* ABOUT SECTION */
.about-container{
    margin-bottom: 70px;
}
.about-container h3{
    color: #3e617e;

}

.about-container h1{
    margin-bottom: 20px;
}
.about-text{
    margin-bottom: 50px;
}

.web-developers{
    display: flex;
    gap: 150px;
}

.web-text h4{
    max-width: 400px;
    line-height: 1.6;
}

.web-developers h3{
    margin-bottom: 10px;
}

/* CONTACT SECTION */   

.contact-container{
    margin-bottom: 70px;
}

.contact-container .contact-text p{ 
    color: black;
}


.contact-container .contact-text p, b{
    font-family:'Courier New', Courier, monospace;
}
